* {
    box-sizing: border-box;
    margin: 0 auto;
}


.month {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    width: 1500px;
    height: 900px;
    margin-top: 150px;
}

.word {
    margin-top: 100px;
    font-size: 40px;
    border-style: solid none solid none;
    padding: 10px 0 10px 0;

}

.sp,
.sum,
.aut,
.win {
    border-radius: 100px 0 100px 0;
    flex-basis: 600px;
    box-shadow: -20px -20px 8px -2px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}



.sp {
    background-color: #76c0ef;

}

.sum {
    background-color: #ffa500;
}

.aut {
    background-color: #d2691e;
}

.win {
    color: white;
    background-color: #4F9D9D;
}

.l-now {
    margin-top: 70px;
    font-size: 120px;
}

.img>img {
    border-radius: 20%;
    margin-top: 80px;
}

.month-r {
    border-radius: 0 130px 0 130px;
    flex-basis: 900px;
    margin-left: -1px;
    background-color: lightgray;
    box-shadow: -20px 20px 8px -2px rgba(0, 0, 0, 0.4);
    position: relative;
}

/* .prenext-m {
    margin: 0 auto;
    margin-top: 55px;
} */
/* 右上年 */
.prenext-y {
    font-size: 90px;
    opacity: 0.3;
    position: absolute;
    margin-top: -25px;
}
/* 右下月英文 */
.prenext-m1 {
    width: 300px;
    display: inline-block;
    font-size: 100px;
    opacity: 0.3;
    margin-top: -30px;
    margin-left: 520px;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
}
/* 整個周+天 */
.prenext-h {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 750px;
    text-align: center;

}
/* 上下月箭頭 */
.prenext-ar1,
.prenext-ar2 {
    font-size: 30px;
    margin-top: 400px;
    height: 50px;
    line-height: 50px;
}

.prenext-ar1>a,
.prenext-ar2>a {
    color: black;
    text-decoration: none;
}

/* 一週+31天 */
.week,
.day {
    display: inline-block;

    height: 80px;
    line-height: 80px;
    font-family: 'Courier New', Courier, monospace;

}

.holiday {
    height: 80px;
    line-height: 40px;
    width: 90px;
}

/* 一週那條 */
.week {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 160px;
    background-color: lightgoldenrodyellow;
    border-radius: 0 50px 0 0;
    font-size: larger;

}

/* 星期幾單天 */
.date {
    width: 80px;
}

.holiday {
    border-radius: 55px;
    background-color: rgb(154, 225, 247);
}

/* 1-31一個月 */
.days {
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 0 0 0 50px;

}

.day:hover {
    border-radius: 55px;
    background-color: lightcoral;
}


/* 1-31每天 */
.day {
    font-weight: bold;
    width: 90px;
}