* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;

}


.month {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    width: 1600px;
    height: 900px;
    margin-top: 530px;
}

/* 四季文字 */
.word {
    margin-top: 100px;
    font-size: 40px;
    border-style: solid none solid none;
    padding: 30px 0 30px 0;
    font-style: italic;
    font-family: Dancing Script;
    letter-spacing: 5px;
    font-weight: bold;
}

/* 四季底 */
.sp,
.sum,
.aut,
.win {
    border-radius: 100px 0 100px 0;
    flex-basis: 700px;
    box-shadow: -20px -20px 8px -2px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -180px;
}



.sp {
    background-color: #76c0ef;

}

.sum {
    background-color: #ffa500;
}

.aut {
    background-color: #d2691e;
}

.win {
    color: white;
    background-color: #326b6b;
}

.l-now {
    margin-top: 70px;
    font-size: 120px;
}

.img>img {
    border-radius: 20%;
    margin-top: 50px;
}

.month-r {
    border-radius: 0 130px 0 130px;
    flex-basis: 900px;
    background-color: rgb(226, 226, 226);
    box-shadow: -20px 20px 8px -2px rgba(0, 0, 0, 0.4);
    position: relative;
    margin-top: -250px;
}

/* 右上年 */
.prenext-y {
    font-size: 130px;
    opacity: 0.2;
    position: absolute;
    margin-top: -20px;
    letter-spacing: -15px;

}

/* 右下月英文 */
.prenext-m1 {
    width: 300px;
    display: inline-block;
    font-size: 140px;
    opacity: 0.2;
    margin-top: -30px;
    margin-left: 380px;
    text-align: right;
}

/* 整個周+天 */
.prenext-h {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 750px;
    text-align: center;
    margin-top: 100px;

}

/* 上下月箭頭 */
.prenext-ar1,
.prenext-ar2 {
    font-size: 30px;
    margin-top: 400px;
    height: 50px;
    line-height: 50px;
}

.prenext-ar1>a,
.prenext-ar2>a {
    color: black;
    text-decoration: none;
}

/* 一週+31天 */
.week,
.day {
    display: inline-block;
    height: 90px;
    line-height: 90px;

}

.holiday {
    height: 90px;
    line-height: 45px;
    width: 90px;
}

/* 一週那條 */
.week {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 150px;
    background-color: lightgoldenrodyellow;
    border-radius: 0 50px 0 0;

}

/* 星期幾單天 */
.date {
    width: 80px;
    font-size: 32px;
    font-weight: bold;
}

.holiday {
    font-size: 25px;
    font-weight: bold;
    border-radius: 55px;
    background-color: rgb(154, 225, 247);
}

/* 1-31一個月 */
.days {
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 0 0 0 50px;

}

.day:hover {
    border-radius: 55px;
    background-color: lightcoral;
}


/* 1-31每天 */
.day {
    font-weight: bold;
    width: 90px;
    font-size: 25px;
}