* {
    box-sizing: border-box;
}

body,.navbar {
    background-color: black
}

.carousel-item{height: 850px;}

.nav-link:not(.active) {
    background-color: black;
    color: rgb(179, 179, 179);

}

.nav-link:hover {
    color: rgb(255, 255, 255);
}

.nav-link {
    background-color: white;
    color: black;
}

#v-pills-tabContent {
    background-color: white;
    color: black;
}